resources:
   containers:
     - container: windows
       image: nventive/build-agent:vs16.4.0

variables:
- name: NUGET_VERSION
  value: 5.1.0
- name: ApplicationOutputPath
  value: $(Build.ArtifactStagingDirectory)
- name: PackageOutputPath
  value: $(Build.ArtifactStagingDirectory)
- name: SolutionFileName
  value: src/Ch9.sln

trigger: none

jobs:
- job: Windows
  strategy:
    maxParallel: 3
    matrix:
      Release_Android:
        ApplicationConfiguration: Release_Android
        ApplicationPlatform: Any CPU
        Environment: Staging
      Release_UWA:
        ApplicationConfiguration: Release_UWP
        ApplicationPlatform: x64
        Environment: Staging

  pool:
    name: Container

  workspace:
    clean: all

  container: windows

  steps:
  - template: steps.yml

- job: macOS
  strategy:
    maxParallel: 1
    matrix:
      Release_iOS:
        ApplicationConfiguration: Release_iOS
        ApplicationPlatform: Any CPU
        Environment: Staging

  pool:
    name: Default
    demands:
    - Xamarin.iOS -equals 13.8

  workspace:
    clean: all

  variables:
  - name: NUGET_PACKAGES
    value: $(Agent.TempDirectory)/.nuget
  - name: NUGET_HTTP_CACHE_PATH
    value: $(Agent.TempDirectory)/.nuget-http-cache.

  steps:
  - template: steps.yml