<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uno.platform.ch9" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
  <application android:label="Ch9" android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
    <meta-data android:name="android.max_aspect" android:value="2.1" />
  </application>
</manifest>
